@import url('https://fonts.cdnfonts.com/css/medievalsharp');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image:
  linear-gradient(270deg,
    rgba(41, 43, 76, 0.289),
    rgba(7, 38, 66, 0.529)), url(
'./images/bckg.jpg');
  width: 100%;
  text-align: center;
  color: #fff;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  width: 100% !important;
  padding: 7vw 0 7vw 0;
  margin-top: 7vw;
}


.span-container, .start {
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}


.span-title, .start {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin-left: 1.5vw;
}

.span-title:nth-child(1) {
  animation: fade-in 3s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(2) {
  animation: fade-in 3s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(3), .start {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(4) {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


.home-content{
  display: flex;
  flex-direction: column;
}

.start{
  font-size: 1.2vw !important;
  font-weight: 500 !important;
  font-family: 'medievalsharp' !important ;
}

.btn{
  background-color: #2F5C71 !important;
}

.appBar{

}