@import url('https://fonts.cdnfonts.com/css/medievalsharp');

* {
  font-family: 'medievalsharp' !important;
}

body {
  margin: 0;
  font-family: 'medievalsharp', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
      270deg,
      rgba(41, 43, 76, 0.289),
      rgba(7, 38, 66, 0.529)
    ),
    url('./images/bckg.jpg');
  width: 100%;
  text-align: center;
  color: #fff;
}

code {
  font-family: 'medievalsharp', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

.home {
  width: 100% !important;
  padding: 7vw 0 7vw 0;
  margin-top: 7vw;
}

.span-container,
.start {
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.span-title,
.start {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin-left: 1.5vw;
}

.span-title:nth-child(1) {
  animation: fade-in 3s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(2) {
  animation: fade-in 3s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(3),
.start {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(4) {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.home-content {
  display: flex;
  flex-direction: column;
}

.start {
  font-size: 1.2vw !important;
  font-weight: 500 !important;
}

.btn {
  background-color: #2f5c71 !important;
}

.icon {
  color: '#FCCF23' !important;
  font-size: 'medium' !important;
}

.appBar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.get-started p {
  font-size: 1.7vw;
  font-weight: 500;
  text-align: center;
  position: absolute;
  animation: appear 2s;
  left: 25%;
  margin-top: 4vw;
}

@keyframes appear {
  from {
    left: -100px;
  }
  to {
    left: 25%;
  }
}
@-moz-keyframes appear {
  /* Firefox */
  from {
    left: -100px;
  }
  to {
    left: 25%;
  }
}
@-webkit-keyframes appear {
  /* Safari and Chrome */
  from {
    left: -100px;
  }
  to {
    left: 25%;
  }
}
@-o-keyframes appear {
  /* Opera */
  from {
    left: -100px;
  }
  to {
    left: 25%;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #0e121b;
  background-color: #0e121b;
}

body::-webkit-scrollbar-thumb {
  background-color: #557789a6;
}

.inner-content {
  display: flex !important;
  flex-direction: column !important;
}

.avatar {
  margin-left: 6vw !important;
  background-image: linear-gradient(to bottom, #0c1f31, #2d5b71);
}

.selected-house {
  background-color: #557789a6;
}

button:hover,
.wiki:hover {
  background-color: #758e9a !important;
}

input {
  color: white !important;
}
